# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_RETROS_IDEAL_KEYBOARD_LEFT
    def_bool $(shields_list_contains,retros_ideal_keyboard_left)

config SHIELD_RETROS_IDEAL_KEYBOARD_RIGHT
    def_bool $(shields_list_contains,retros_ideal_keyboard_right)