# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_RETROS_IDEAL_KEYBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Retros_Ideal_Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RETROS_IDEAL_KEYBOARD || SHIELD_RETROS_IDEAL_KEYBOARD

config ZMK_SPLIT
    default y

endif