# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_RETROS_KEYB_L

config ZMK_KEYBOARD_NAME
    default "Retros_Keyb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RETROS_KEYB_L || SHIELD_RETROS_KEYB_R

config ZMK_SPLIT
    default y

endif
